@font-face {
    font-family: 'Karla';
    src: url('/fonts/Karla.ttf') format('truetype');
    font-weight: 1 999; /* Variable font supports a range of weights */
    font-style: normal;
    font-display: swap; /* Optional: improves performance */
    font-variation-settings: 'wght' 400; /* Default weight */
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/fonts/Inconsolata.ttf') format('truetype');
    font-weight: 1 999; /* Variable font supports a range of weights */
    font-style: normal;
    font-display: swap; /* Optional: improves performance */
    font-variation-settings: 'wght' 400; /* Default weight */
}

html.dark {
    background-color: #000;
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}
