---
import Button from "../components/Button.astro"
import ThemeIcon from './ThemeIcon.astro';
---
<header class="sticky top-0 bg-dark-purple p-3 border-b-4 border-hot-pink shadow-2xl z-50">
    <nav class="flex flex-row justify-between items-center	">
        <div class="logo">
            <img src="/public/images/unicorn.png" style="height:100px; width: auto;">
        </div>
        <div class="flex flex-row">
            <Button link="/blog" label="blog" severity="primary" />
            <Button link="/books" label="books" severity="primary" />
            <Button link="/snippets" label="code" severity="primary" />
            <Button link="/about" label="about" severity="primary" />
            <ThemeIcon />
        </div>
    </nav>
</header>
