---
const { title } = Astro.props;
---


    <h1 class="heading-1 font-klara font-bold text-3xl lg:text-6xl text-hot-pink p-2 border-solid border-bottom-2 border-dark-purple">{title}</h1>


<style>

</style>
