---
// Card.astro
const { title, description, imageSrc, link } = Astro.props;
import Tag from "./Tag.astro"
---

<div class="h-80 max-w-60 flex flex-col bg-white drop-shadow-2xl hover:drop-shadow-md rounded-lg overflow-hidden h-full cover-image" style=`background-image: url(${imageSrc}); background-size:cover;`>
    <a href={link}>
        <div class="p-4">
            <Tag tag="TEST" />
            <h2 class="text-xl font-semibold">{title}</h2>
            <p class="mt-2 text-gray-600">{description}</p>
        </div>
    </a>
</div>
