---
import "../styles/global.css"
import Button from "../components/Button.astro"
import ImageCard from "../components/ImageCard.astro"
import Heading1 from "../components/Heading1.astro"
import Heading2 from "../components/Heading2.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
const { pageTitle } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
</head>
<body>
<Header />
<div class="pr-2 pl-6">
    <Heading1 title={pageTitle} />
    <div class="ml-5 mr-5 min-h-svh">
        <slot />
    </div>
    <!--<Button link="https://example.com" label="Click Me" severity="primary" />-->
    <!--<Button link="https://example.com" label="Delete" severity="danger" />-->
    <!--<Button link="https://example.com" label="Learn More" severity="secondary" />-->
    <!--<ImageCard imageSrc="https://placehold.co/400x600" title="TestCard" description="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet." />-->
</div>
<Footer />

</body>
</html>
